@using Dal.Entities
@model List<Dal.Entities.User>

@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div>
        <h2>Users: </h2>
        @foreach (var user in @Model)
        {
            <h5>@user.Name</h5>
        }

    </div>
</div>
